<!DOCTYPE html>
<html>
  <head>
    <title>BloggerChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if current_user.nil?  %>
    <%= render "shared/login_navigation" %>
  <% else %>
    <%= render "shared/user_navigation" %>
  <% end %>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-9">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
  <%= yield %>


  </body>
</html>
